<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Character Creator | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/js/writing/character-creator.js" defer></script>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Character Creator</h2>
                <form method="POST">
                    <div>
                        <div>
                            <label for="character">Name:</label>
                            <input type="text" name="character" id="character">
                        </div>
                        <div>
                            <label for="story">Story:</label>
                            <select name="story" id="story">
                                <option value="0"> --- Choose an option --- </option>
                                <% for (let i in stories) { %>
                                    <option value="<%= stories[i].story_name %>"><%= stories[i].story_name %></option>
                                <% } %>
                            </select>
                        </div>
                        <section>
                            <h4>Age</h4>
                            <label for="child">Child</label>
                            <input type="radio" name="age" id="child" value="child">
                            <label for="young-adult">Young Adult</label>
                            <input type="radio" name="age" id="young-adult" value="Young Adult">
                            <label for="adult">Adult</label>
                            <input type="radio" name="age" id="adult" value="Adult">
                            <label for="middle-aged">Middle Aged</label>
                            <input type="radio" name="age" id="middle-aged" value="Middle Aged">
                            <label for="elderly">Elderly</label>
                            <input type="radio" name="age" id="elderly" value="Elderly">
                        </section>
                        <div>
                            <label for="species">Species</label>
                            <input list="species-list" name="species" id="species">
                            <datalist id="species-list">
                                <option value="Human">
                                <option value="Elf">
                                <option value="Dwarf">
                            </datalist>
                        </div>
                        <section>
                            <h4>Gender</h4>
                            <input type="radio" name="gender" id="female" value="Female">
                            <label for="female">Female</label>
                            <input type="radio" name="gender" id="male" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="other-gender" value="other">
                            <label for="other-gender">Other</label>
                            <input type="text" name="othergendertext" id="othergendertext" hidden>
                        </section>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </section>
        </main>
        <footer></footer>
    </body>
</html>