<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Writing Tools | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Writing Tools</h2>
                <section>
                    <h3>Pages</h3>
                    <ul>
                        <li>
                            <a href="/writing/character">Character Tracker</a>
                        </li>
                        <li>
                            <a href="/writing/character-creator">Character Creator</a>
                        </li>
                        <li>
                            <a href="writing/characters">Characters</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>To Do</h3>
                    <ol>
                        <li>NPC Generator</li>
                        <li>Plot Grid Editor</li>
                        <li>Story Tracker</li>
                        <li>Accessible D&amp;d character sheet</li>
                    </ol>
                </section>
            </section>
        </main>
        <footer></footer>
    </body>
</html>