<div id="clue-grid-heading-area">
    <button id="left-button" class="arrow-buttons"></button>
    <h3 id="clue-grid-heading">Villains</h3>
    <button id="right-button" class="arrow-buttons"></button>
</div>
<div id="clue-villains" class="clue-grid">
    <button id="maleficent" class="clue-tile">Maleficent</button>
    <button id="evil-queen" class="clue-tile">Evil Queen</button>
    <button id="ursula" class="clue-tile">Ursula</button>
    <button id="jafar" class="clue-tile">Jafar</button>
    <button id="hades" class="clue-tile">Hades</button>
    <button id="dr-facilier" class="clue-tile">Dr Facilier</button>
</div>
<div id="clue-weapons" class="clue-grid">
    <button id="potion" class="clue-tile">Potion</button>
    <button id="poison-apple" class="clue-tile">Poison Apple</button>
    <button id="shell" class="clue-tile">Shell</button>
    <button id="scarab" class="clue-tile">Scarab</button>
    <button id="sceptre" class="clue-tile">Sceptre</button>
    <button id="talisman" class="clue-tile">Talisman</button>
</div>
<div id="clue-lairs" class="clue-grid">
    <button id="castle" class="clue-tile">Castle</button>
    <button id="fathoms-below" class="clue-tile">Fathoms Below</button>
    <button id="graveyard" class="clue-tile">Graveyard</button>
    <button id="tavern" class="clue-tile">Tavern</button>
    <button id="sultans-palace" class="clue-tile">Sultan's Palace</button>
    <button id="mirror-room" class="clue-tile">Mirror Room</button>
    <button id="laboratory" class="clue-tile">Laboratory</button>
    <button id="underworld" class="clue-tile">Underworld</button>
    <button id="other-side" class="clue-tile">Other Side</button>
</div>