<header>
            <h1>
                <a href="/">Lorelei's&nbsp;Site</a>
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="/site-agenda">Site Agenda</a>
                    </li>
                    <li>
                        <a href="/writing">Writing Tools</a>
                    </li>
                    <li>
                        <a href="/transition">Transition Dashboard</a>
                    </li>
                    <li>
                        <a href="/programming">Programming BS</a>
                    </li>
                </ul>
            </nav>
        </header>