<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <p>There's fuck all here rn</p>
        </main>
        <footer></footer>
    </body>
</html>