<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Site Agenda | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <%- include("partials/header") %>
        <main>
            <section>
                <h2>Site Agenda</h2>
                <ol>
                    <li>Add proper sectioning to index.html and site-agenda.html</li>
                    <li>Add basic quality of life CSS</li>
                    <li>Add section pages for the topics I want to use this site for</li>
                    <li>Create subfolders for each topic</li>
                    <li>adjust header links</li>
                    <li>Create pages for what I want in each section</li>
                </ol>
            </section>
        </main>
        <footer></footer>
    </body>
</html>