* {
    font-family: sans-serif;
}

header {
    display: flex;
}

nav {
    width: stretch;
    align-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

A {
    color: black;
    text-decoration: none;
}

#content {
    display: grid;
    grid-template-columns: auto auto 25%;
    grid-template-areas: "title title title"
                         "phys pers pic"
                         "phys pers pic"
                         "phys pers rel";
    gap: 2em;
}

.areas {
    border: 5px solid black;
    border-radius: 5%;
    padding: 1.1em;
}

.areas h3 {
    text-align: center;
}

#title {
    grid-area: title;
}

#physical-description {
    grid-area: phys;
}

#personality {
    grid-area: pers;
}

#picture {
    grid-area: pic;
}

#related {
    grid-area: rel;
}

#sigil {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#hormone-input-form {
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

canvas {
    border: 5px solid black;
}

#consult-countdown {
    display: block;
    font-size: 3em;
}

#estrogen-day-count {
    display: block;
    font-size: 6em;
}

.progress-bar {
    border-radius: 2em;
}

#progress-bars {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "label0 progressBar0"
                        "label1 progressBar1"
                        "label2 progressBar2"
                        "label3 progressBar3";
    gap: 2em;
}

#hormone-tracker-area {
    grid-area: hor;
}

#progress-bar-area {
    grid-area: pro;
}

#transition-counters {
    grid-area: cou;
    text-align: center;
}

#to-do {
    grid-area: tod;
}

#transition-content {
    display: grid;
    grid-template-columns: 25% auto auto;
    grid-template-areas: "hor pro cou"
                         "hor pro tod";
    gap: 2em;
}

/*#transition-content > * {
    border: 5px solid black;
    border-radius: 2em;
}*/

#transition-content h3 {
    text-align: center;
}

.clue-villain {
    border: 15px solid red;
}

.clue-weapon {
    border: 15px solid green;
}

.clue-lair {
    border: 15px solid blue;
}

.clue-grid {
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}

.clue-grid * {
    aspect-ratio: 1 / 1;
    border-radius: 2em;
    font-size: 4em;
    background-color: white;
    color: black;
}