<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Transition Dashboard | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/transition/transition.js" defer></script>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Transition Dashboard</h2>
                <div id="transition-content">
                    <section id="hormone-tracker-area">
                        <h3>Hormone Tracker</h3>
                        <canvas id="graph"></canvas>
                        <table id="hormone-table">
                            <tr>
                                <th>Date</th>
                                <th>Estrogen</th>
                                <th>Testosterone</th>
                            </tr>
                            <% for (i in rows) { %>
                                <tr>
                                    <td><%= rows[i].date %></td>
                                    <td><%= rows[i].estrogen %></td>
                                    <td><%= rows[i].testosterone %></td>
                                </tr>
                            <% } %>
                        </table>
                        <a href="/transition/hormone-input">
                            <button>Add Hormone Levels</button>
                        </a>
                    </section>
                    <section id="progress-bar-area">
                        <h3>Progress</h3>
                        <div id="progress-bars">
                            <p class="progress-bar-label">Legal&nbsp;Transition</p>
                            <canvas class="progress-bar"></canvas>
                            <p class="progress-bar-label">Vocal&nbsp;Feminization</p>
                            <canvas class="progress-bar"></canvas>
                            <p class="progress-bar-label">FFS</p>
                            <canvas class="progress-bar"></canvas>
                            <p class="progress-bar-label">Bottom&nbsp;Surgery</p>
                            <canvas class="progress-bar"></canvas>
                        </div>
                    </section>
                    <section id="transition-counters">
                        <h3>CountersCountdown</h3>
                        <p><strong id="consult-countdown"></strong> until FFS consult</p>
                        <p><strong id="estrogen-day-count"></strong> days on estrogen</p>
                    </section>
                    <section id="to-do">
                        <h3>To Do</h3>
                        <ul>
                            <li>Surgery progress bars</li>
                            <li>Legal transition checklist</li>
                            <li>Milan payment tracker</li>
                        </ul>
                    </section>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>