<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clue Scorecard | Lorelei's Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/programming/clue-scorecard.js" defer></script>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Clue Scorecard</h2>
                <section>
                    <h3>Villains</h3>
                    <div class="clue-grid">
                        <button id="maleficent" value="Maleficent"></button>
                        <button id="evil-queen">Evil Queen</button>
                        <button id="ursula"></button>
                        <button id="hades"></button>
                        <button id="jafar"></button>
                        <button id="dr-facilier"></button>
                    </div>
                </section>
                <section>
                    <h3>Weapons</h3>
                    <div class="clue-grid">
                        <button id="potion"></button>
                        <button id="poison-apple"></button>
                        <button id="shell"></button>
                        <button id="sceptre"></button>
                        <button id="scarab"></button>
                        <button id="talisman"></button>
                    </div>
                </section>
                <section>
                    <h3>Lairs</h3>
                    <div class="clue-grid">
                        <button id="tavern"></button>
                        <button id="fathoms-below"></button>
                        <button id="sultan's-palace"></button>
                        <button id="graveyard"></button>
                        <button id="laboratory"></button>
                        <button id="castle"></button>
                        <button id="mirror-room"></button>
                        <button id="underworld"></button>
                        <button id="other-side"></button>
                    </div>
                </section>
            </section>
        </main>
        <footer></footer>
    </body>
</html>