<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clue Scorecard Simulator | Lorelei's Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script type="module" src="/js/programming/clue-scorecard.js" defer></script>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Clue Scorecard Simulator</h2>
                <div id="tablet" class="simulator">
                    <%- include("../partials/header") %>
                    <h3>Clue Scorecard</h3>
                    <%- include("../partials/clue-scorecard-simulator") %>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>