<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Programming BS | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Programming BS</h2>
                <section>
                    <h3>Pages</h3>
                    <ul>
                        <li>
                            <a href="/programming/random-color">Randomized colour shifting thing</a>
                        </li>
                        <li>
                            <a href="/programming/clue-scorecard">Clue Scorecard</a>
                        </li>
                        <li>
                            <a href="/programming/clue-scorecard-simulator">Clue Scorecard Simulator</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>To Do</h3>
                    <ul>
                        <li>Take a look at public APIs and see if there's anything interesting to try out</li>
                        <li>Make that pixel art thing you've also been thinking about</li>
                        <li>Make that Clue scorecard that you were thinking about</li>
                        <li>Start thinking about the concept of a plan for a tower defense game</li>
                    </ul>
                </section>
            </section>
        </main>
        <footer></footer>
    </body>
</html>