<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Color Thing | Lorelei's Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <script type="module" src="/js/programming/random-color.js" defer></script>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <section>
                <h2>Random Color Thing</h2>
                <canvas id="color-area"></canvas>
            </section>
        </main>
        <footer></footer>
    </body>
</html>